<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-brands fa-airbnb"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/listings">Home</a>
        <a class="nav-link" href="/listings/create">create list</a>
        <a class="nav-link" href="#">Pricing</a>
      </div>
    </div>
  </div>

<div class="ms-auto dropdown">
  <button class="btn btn-outline-dark" type="button" data-bs-toggle="dropdown">
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>

  <ul class="dropdown-menu dropdown-menu-end">

    <% if (!currUser) { %>
      <li>
        <a class="dropdown-item" href="/signup">Signup</a>
      </li>
      <li>
        <a class="dropdown-item" href="/login">Login</a>
      </li>
    <% } else { %>
      <li>
        <span class="dropdown-item-text">
          Hello, <%= currUser.username %>
        </span>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <form action="/logout" method="POST">
          <button class="dropdown-item">Logout</button>
        </form>
      </li>
    <% } %>

  </ul>
</div>

</nav>
